﻿/*Utils*/
.bold {
    font-weight: bold;
}

.padingTop5 {
    padding-top: 5px;
}

.colorGrisClaro {
    background-color: #959596;
    color: white;
}

.font-size-20 {
    font-size: 20px;
}
/*CSS MAIN*/
.cz-form-box-content {
    min-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 4px;
}

html, .cz-submain-form-background {
    background: #F1F1F1;
}

.cz-submain {
    overflow: auto;
}

#cz-form-box {
    width: 90%;
    margin: 0 auto;
}

#cz-form-box-content-title {
    overflow: hidden;
    float: left;
    margin-top: 5px;
}

#cz-form-box-content-title-icon {
    float: left;
    width: 30px;
}

#cz-form-box-content-title-text {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

    #cz-form-box-content-title-text p {
        color: #636363;
        font-size: 17px;
    }

.cz-form-content-input-button {
    border: 0;
    padding: 8px 20px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.cz-form-content-input-button-image {
    padding: 10px 20px 10px 45px;
}

.cz-form-box-content-button {
    margin: 5px 4px;
}

    .cz-form-box-content-button img {
        width: 30px;
    }

.cz-form-box-content-subtitle p {
    color: white;
}

.cz-form-box-content-extend {
    position: absolute;
    left: 10px;
    right: 10px;
}

.cz-form-box-content {
    background-color: white;
}

.cz-util-right {
    float: right !important;
}

.cz-util-right-text {
    text-align: right !important;
}

.cz-form-content .cz-form-content-input-button {
    margin-top: 10px;
    margin-right: 2px;
}
/*Imagenes de Botones*/
#cz-form-box-del {
    background-image: url("../../imagery/all/icons/del.png");
    background-repeat: no-repeat;
    background-position: 14px;
    background-size: 16px;
}

.cz-form-content-input-button:hover, #cz-login-input-user, #cz-login-input-pass, .cz-control-user-option:hover {
    background-color: #003E77;
}

#content-notify .notify, #cz-barr-top, .cz-menu-lateral-title-icon, .cz-form-content-input-button, .cz-other-box-center-box-title, .cz-principal-menu-option-button.cz-ehover .cz-principal-menu-option-image, .cz-form-box-content-subtitle, .table th, .cz-form-subcontent-title, #btnIngresar, .cz-login-box-body, .cz-login-submain, #cz-error {
    background-color: #0154A0;
}

/*modal*/
.modal.fade.in {
    top: 5px;
}

.modal-header {
    padding: 1px 10px;
    border-bottom: 1px solid #C9C8C7;
    background-color: #E7E7E7;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

    .modal-header .close {
        margin-top: 2px;
        border: 1px solid #636363;
        border-radius: 35px;
        padding: 2px;
    }

    .modal-header h3 {
        margin: 0;
        line-height: 30px;
        color: #766A61;
        font-size: 15px;
    }

.modal-body {
    position: relative;
    max-height: 95%;
    padding: 10px;
    min-height: 30px;
    overflow: auto;
}

.modal-footer {
    padding: 5px 8px 5px;
    margin-bottom: 0;
    text-align: right;
    border-top: 1px dashed #C9C8C7;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
}

    .modal-footer:before, .modal-footer:after {
        display: table;
        line-height: 0;
        content: "";
    }
/*END MODAL*/