﻿/**
 * Blackboard theme
 *
 * Adapted from Domenico Carbotta's TextMate theme of the same name
 *
 * @author Domenico Carbotta
 * @author Craig Campbell
 * @version 1.0.2
 */
pre {
    background: #0B1022;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

    pre .comment {
        color: #727272;
    }

    pre .constant {
        color: #D8FA3C;
    }

    pre .storage {
        color: #FBDE2D;
    }

    pre .string, pre .comment.docstring {
        color: #61CE3C;
    }

        pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
            color: #fff;
        }

    pre .keyword, pre .selector {
        color: #FBDE2D;
    }

    pre .inherited-class {
        font-style: italic;
    }

    pre .entity {
        color: #FF6400;
    }

    pre .support, *[data-language="c"] .function.call {
        color: #8DA6CE;
        float: none;
        font-size: 1em;
        font-weight: normal;
        text-shadow: none;
        opacity: 1;
    }

    pre .variable.global, pre .variable.class, pre .variable.instance {
        color: #FF6400;
    }
