@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
    background-image: url('../1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 40px;
}

    .login-card h1 {
        font-weight: 100;
        text-align: center;
        font-size: 2.3em;
    }

    .login-card input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
    }

    .login-card input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .login-card input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #274245;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .login-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #3E5363;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

    .login-card a:hover {
        opacity: 1;
    }

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.pd {
    text-align: center;
    margin: 7px;
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.pd2 {
    text-align: center;
    font-size: 14px;
    margin: 3px;
    color: white;
}

#cz-box-footer2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 25px;
}

    #cz-box-footer2 p {
        color: #FFF;
    }

#content-notify {
    position: fixed;
    right: 0px;
    width: 300px;
    bottom: 30px;
    z-index: 9999;
    overflow: hidden;
    font-size: 12px;
}

    #content-notify div {
        padding: 15px;
        border-radius: 4px;
        left: 310px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        font-size: 12px;
    }

    #content-notify .alert {
        color: #FFF;
    }

    #content-notify .notify {
        color: #FFF;
    }

    #content-notify .alert, #cz-box-footer2, #cz-login-head {
        background: #274245; /*CAMBIADO*/
    }
